Source: qtdeclarative5-mango-ssh
Section: libs
Priority: optional
Maintainer: Joseph Mills <josephjamesmills@gmail.com>
Build-Depends: debhelper (>= 9),
               libqt5core5a,
               libqt5gui5,
               libqt5network5,
               libqt5qml5,
               libqt5qssh5,
               libstdc++6,
               qml-module-qtquick2 | qtdeclarative5-qtquick2-plugin,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-private-dev,
               libqt5scripttools5,
               qttools5-dev-tools
Standards-Version: 3.9.6

Package: qtdeclarative5-mango-ssh
Architecture: any
Depends: libqt5core5a,
         libqt5gui5,
         libqt5network5,
         libqt5qml5,
         libqt5qssh5,
         qml-module-qtquick2 | qtdeclarative5-qtquick2-plugin,
         qt5-qmake,
         qtbase5-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Mango Ssh a Qml plugin for interacting with ssh
 This plugin is used to expose ssh to qml.
 This plugin is under heavey development and is subject to change.

Package: qtdeclarative5-mango-ssh-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Depends: qtdeclarative5-doc-html,
         qtmultimedia5-doc-html,
         qtscript5-doc-html,
         qtsvg5-doc-html,
         qtwebkit5-doc-html,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: qtdeclarative5-mango-ssh-doc
Description: Qt Components for Mango Api- documentation
 This package contains developer documentation for the Qml plugin.
 This package makes the qch file for reading the help docs in qt creator
 And are also localed /usr/share/qtdeclarative5-mango-ssh/docs
